p {
  color:red;
  font-family: Baskerville Old Face, sans-serif;
  font-size: 3em;
  background-color:black;
}
h1 { color:blue;
  font-family: Blackadder ITC, sans-serif;
  font size: 1em;
  background-color:grey;
}
img {
  animation-duration: 2s;
  animation-name: crazy;
  animation-iteration-count: infinite;
  animation-direction: Alternate;
}
  @keyframes crazy {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 1000px;
    }
